SERVER_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DATABASE_URL=
SMTP_SERVER=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
MAILER_FROM=
JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION_SECONDS=
JWT_REFRESH_TOKEN_EXPIRATION_SECONDS=
COOKIE_SECRET=
NODE_ENV=
BACKEND_URL=
TEST_DB_CONNECTION_STRING=
CLIENT_URL=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=